<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap" rel="stylesheet">
    <title>BoolZap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <!-- sfondo body -->
    <div class="green-bar">
      <!-- inizio container principale -->
      <div id="app"  class="container clearfix">

           <!-- inizio sidebar -->
          <nav class="sidebar fl ">
            <nav class="sidebar-content flex">
             <div class="sidebar-box-left">
               <img :src="'./img/avatar' + '_io' + '.jpg'" alt="">
               <span>{{nameIo}}</span>
             </div>
             <div class="sidebar-box-right">
              <a href="#"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
             </div>
            </nav>
            <div class="notif-bar flex">
              <div class="bell ">
                <i class="fa fa-bell-slash" aria-hidden="true"></i>
              </div>
              <div class="text-notif">
                Ricevi notifiche di nuovi messaggi <br>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>
            <div class="search">
              <label for="search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </label>
              <input type="text" placeholder="Cerca o inizia una nuova chat"  @keyup='search' v-model='searchText' name="search">
            </div>
            <div class="contact">
             <ul>
             <li v-for='(contact, index) in contacts' v-if='contact.visible' @click="setActiveContact(index)">
                 <img :src="'./img/avatar' + contact.avatar + '.jpg'"   alt="">
                 <span> {{contact.name}} </span>
               </li>
             </ul>
            </div>
          </nav>
          <!-- fine sidebar -->

          <main class="container-right fr">

             <!-- inizio navbar -->
             <nav class="navbar fr flex">
               <div class="nav-content-left" >
                 <img  :src="'./img/avatar' + contacts[avatarIDX].avatar + '.jpg'" alt="">
                  <h4 class="nav-content-name fr"><span>{{contacts[avatarIDX].name}}</span>
                   <br>
                   <small class="nav-content-time"> Ultimo accesso alle {{currentDate(avatarIDX)}} </small></h4>
                 </span>
               </div>
               <div class="nav-content-right" >
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                 <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
               </div>
             </nav>
             <!-- fine navbar -->

             <!-- inizio chat container -->
             <div class="chat-container">
                  <div v-for="message in contacts[avatarIDX].messages"
                    :class="'message ' + message.status" class="clearfix">
                    {{message.text}}
                  </div>
             </div>
              <!-- fine chat container -->



             <!-- inizio footer -->
             <footer class="footer-bar fl flex">
               <i class="fa fa-smile-o" aria-hidden="true"></i>
               <div class="write-message">
                 <input type="text" placeholder="Scrivi un messaggio" value=""
                 v-model='chatText'
                 @keyup.enter='sendMessage'>
               </div>
               <i class="fa fa-microphone" aria-hidden="true"></i>
             </footer>
           </main>
             <!-- fine footer -->

      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
